<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Sensei activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.firstName})}">
            Dear
        </p>
        <p th:text="#{email.activation.text1}">
            Your Sensei account has been created, please enter your activation code from your app to activate it:
        </p>
        <p>
            <a th:text="#{email.activation.code(${user.activationKey})}">Activation code</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Sensei.</em>
        </p>
    </body>
</html>
